name: Lints

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  lints:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Black
        uses: psf/black@stable
        with:
          args: ". --check --diff"
